@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,200&family=Roboto:wght@300&display=swap");

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.section-2_card {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid#333;
  position: relative;
  z-index: 99;
}

.section-2_card .section-2_card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.section-2_card-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.section-2_card:hover .section-2_card-body {
  right: 0;
}

.section-2_card-title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.section-2_card-sub-title {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
}

.section-2_card-info {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.section-2_card-btn {
  color: #1f3d47;
  background: #8fabba;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
